<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-urlscheme" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>urlscheme</name><js-module name="urlscheme" src="www/urlscheme.js"><clobbers target="cordova.plugins.urlscheme" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="urlscheme"><param name="ios-package" value="urlscheme" /></feature></config-file><source-file src="src/ios/urlscheme.m" /></platform><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="urlscheme"><param name="android-package" value="cordova-plugin-urlscheme.urlscheme" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/urlscheme.java" target-dir="src/cordova-plugin-urlscheme/urlscheme" /></platform></plugin>